{
    // Managed by Intune

    "BrowserSignin": 1,
    "ForceSync": true,
    "NonRemovableProfileEnabled": true,
    "PasswordManagerEnabled": false,
    "RestrictSigninToPattern": "*@upheads.no",
    "ManagedAccountsSigninRestriction": "primary_account_strict",
}