---
- name: Install and onboard Microsoft Defender for Endpoint
  hosts: localhost
  vars:
    log_file: "/var/log/sa-defender-install.log"
    mde_installer_log: "/var/log/sa-mde-installer.log"
    onboarding_url: "https://upheads.sharepoint.com/:u:/r/Dokumenter/Interndrift/Linux/defender/upheads-onboarding.py?csf=1&web=1&e=kb50Nt"
    mde_installer_url: "https://raw.githubusercontent.com/microsoft/mdatp-xplat/refs/heads/master/linux/installation/mde_installer.sh"

  tasks:
    - name: Create a directory if it does not exist
      ansible.builtin.file:
        path: /tmp/mde_install
        state: directory
        mode: '0755'

    - name: Download Onboarding script
      ansible.builtin.get_url:
        url: "{{ onboarding_url }}"
        dest: /tmp/mde_install/mdatp_onboard.json
        mode: '0700'

    - name: Install MDE on host
      ansible.builtin.script: "{{ mde_installer_script }} --install --onboard /tmp/mde_install/mdatp_onboard.json --verbose --log-path {{ mde_installer_log }}"
